.as{
    border-radius: 10px;
    background-color: black;
    color: white;
    height: auto;
    border:1px solid black ;
    font-size: 35px;    
    width: auto;
    display: inline-block;
}
#as1{
    margin-left: 20vh;
    margin-top: 40vh;
}
#as2{
    margin-left: 40vh;
}